.container {
    width: 100%;
}

.btn-info {
    color: #ffffff !important;
    background-color: #5bc0de !important;
}

.col-xs-3 div {
    background: #fff;
    color: #000;
    font-size: 20px;
    border-radius: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    width: 50px;
    padding:0;
    float: right;
    margin-right: -32px;
    text-align: center;
}



.btn-large p {
    margin: 0 0 10px;
    text-transform: capitalize;
    margin-top: -5px;
    margin-bottom: 8px;
}

.accent-color {
    color: #fff !important;
}

body {
    background: #eaeaea;
    overflow-x: hidden !important;
}

.unitbadge {
    height: 15px;
    width: 15px;
    background-color: #e99002;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.activitybadge {
    height: 15px;
    width: 15px;
    background-color: #FF4081;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.decreasebadge {
    height: 15px;
    width: 15px;
    background-color: #f04124;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.increasebadge {
    height: 15px;
    width: 15px;
    background-color: #43ac6a;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.top45 {
    padding-top: 45px;
}

.activityinfo {
    background: #f1f1f1;
    padding: 7px;
    color: #5d5a5a;
    font-size: 12px;
}
