/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
 
      padding-top: 40px;
      font-family: Verdana;
 
}



#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: #f5f5f5;
    text-align:center;
}

.text-muted {
   font-size:20px;
   line-height:45px;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


      body {
        background:#128ece;
        padding-top:0px;
    }

     

      .form-control
      {
          height:45px;
          z-index:0 !important;
      }

      .input-group-addon {
        padding: 6px 12px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-align: center;
        background-color: #128ece;
        border-radius: 0;
        border-right:1px solid #fff;
        cursor:pointer;
}

      .selectize-dropdown
      {
          position:absolute !important;
          z-index:110 !important;
          color:#000 !important;
          display:block !important;
          background:#128ece !important;
      }


        .selectize-dropdown .label
      {
         
          color:#fff !important;
          font-size:15px;
      }


    .selectize-dropdown [data-selectable]{
   
    padding-top: 9px !important;
    padding-left:0px !important;
    padding-right:0px !important;
  
  
}


    
