<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.whotips"
        version   = "1.0.4">
  <name>Whotips</name>

  <description>
   Who tips
  </description>

  <author href="http://www.clearlyinventory.com/" email="support@clearlyinventory.com">
   SHIVAM ITCS Team
  </author>
  
   <plugin name="phonegap-plugin-barcodescanner" source="npm"/>
  <plugin name="cordova-plugin-statusbar" source="npm"/>
  <plugin name="cordova-plugin-globalization" source="npm"/>
  <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1"/>

  <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1"/>

  <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0"/>

  <plugin name="org.apache.cordova.network-information" source="npm"/>
  <plugin name="org.apache.cordova.splashscreen" source="npm"/>
  <plugin name="ionic-plugin-keyboard" source="npm"/>




  <!--gap:plugin name="com.phonegap.plugins.barcodescanner"/>
  <gap:plugin name="org.apache.cordova.statusbar" spec="0.1.4" source="pgb" />
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
  <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.network-information" />
   <gap:plugin name="de.phonostar.softkeyboard-custom" spec="0.1.1" source="pgb" />

  <gap:plugin name="ionic-plugin-keyboard"  source="npm" version="1.0.7" />
  
  <gap:plugin name="org.apache.cordova.splashscreen" />
  
  <gap:plugin name="net.bgta.phonegap.plugin.appversion" source="pgb"/ -->
  
  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="debug-server" required="true">
    <param name="domain" value="http://debug.phonegap.com"/>
    <param name="key" value="willoughby"/>
  </feature>
   
  <preference name="webviewbounce" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  
 <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="orientation"   value="all" />
  <preference name="target-device"  value="universal" />
  <preference name="fullscreen" value="false" />
  
  
  
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#cea608" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="KeyboardDisplayRequiresUserAction" value="false" />
<preference name="HideKeyboardFormAccessoryBar" value="false"/>
  <preference name="KeyboardShrinksView" value="false" />
    <!-- Do not auto hide splash on iOS -->
<preference name="AutoHideSplashScreen" value="false" />
<!-- Do not auto hide splash on Android -->
<preference name="SplashScreenDelay" value="10000"/>

  <icon src="icon.png" />
  <icon src=".pgbomit/res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
  <icon src=".pgbomit/res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
  <icon src=".pgbomit/res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
  <icon src=".pgbomit/res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
  <icon src=".pgbomit/res/icon/blackberry/icon-80.png"     gap:platform="blackberry" />
  <icon src=".pgbomit/res/icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
  <icon src=".pgbomit/res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
  <icon src=".pgbomit/res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
   <icon src=".pgbomit/res/icon/ios/icon-120.png"            gap:platform="ios"        width="120" height="120" />
    <icon src=".pgbomit/res/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src=".pgbomit/res/icon/ios/icon-152.png"            gap:platform="ios"        width="152" height="152" />
  <icon src=".pgbomit/res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
  <icon src=".pgbomit/res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
  <icon src=".pgbomit/res/icon/ios/icon-180.png"           gap:platform="ios"        width="180" height="180" />
  <icon src=".pgbomit/res/icon/webos/icon-64.png"          gap:platform="webos" />
  <icon src=".pgbomit/res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
  <icon src=".pgbomit/res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
  <gap:splash src=".pgbomit/res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src=".pgbomit/res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src=".pgbomit/res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src=".pgbomit/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
  <gap:splash src=".pgbomit/res/screen/blackberry/screen-225.png"         gap:platform="blackberry" />
  
  
  <gap:splash src=".pgbomit/res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
  <gap:splash src=".pgbomit/res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="1136" />
  <gap:splash src=".pgbomit/res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
  <gap:splash src=".pgbomit/res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />
  
  <gap:splash src=".pgbomit/res/screen/ios/Splash-1920x1080.png"     gap:platform="ios" height="1920" width="1080" />
  <gap:splash src=".pgbomit/res/screen/ios/Splash-1080x1920.png"     gap:platform="ios" height="1080" width="1920" />
  <gap:splash src=".pgbomit/res/screen/ios/Splash-750x1334.png"     gap:platform="ios"  width="750" height="1334" />
  <gap:splash src=".pgbomit/res/screen/ios/Splash-1334x750.png"     gap:platform="ios"  height="750" width="1334" />
  

  <gap:splash src=".pgbomit/res/screen/ios/Splash-2208x1242.png"     gap:platform="ios" width="1242" height="2208" />
  <gap:splash src=".pgbomit/res/screen/ios/Splash-1242x2208.png"     gap:platform="ios" width="2208" height="1242" />

  <gap:splash src=".pgbomit/res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />
  <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
  <access origin="*"/>

</widget>
