<style>
    .resultpart
    {
        margin-top:50px;
        height:48px;
    }

    .container {
        background: #fff;
        padding-left: 5px;
        padding-right: 5px;
    }
    .profileimg img
    {
        height:40px;
        width:40px;
        border-radius:50px;
    }

    .resultpart img
    {

    }

  

    .form-control
    {
         border-radius:0 !important;
      
    }

    .username .form-control
    {
        border-radius:0;
        border:transparent;
        border-bottom:1px solid #ccc;
        margin-top:5px;
        margin-bottom:7px;
    }

    .btn-danger{
        background-color:#f04124;
    }

    .noname
    {
        text-align:center;
    }

    .noname .btn{
        height:35px;
        width:35px;
        border-radius:35px;
        padding:0;
        line-height:35px;
         
    }

    .addtip

    {
        text-align:center;
    }

    .addtip .btn
    {
         height: 35px;
    width: 35px;
    border-radius: 40px;
      padding: 0;
    line-height: 35px;
  
    text-align: center;
    }

    .tiparea .tipheader
    {
        background:#eaeaea;
        padding-top:5px;
        padding-bottom:5px;
        height:47px;
    }

    .tipheader .form-control{
        margin-bottom:0;
        padding-left:10px;
        margin-top:0;
    }

    .tiprecord {
        border: 1px solid #eaeaea;
        margin-bottom: 5px;
        overflow: auto;
    }

    .tiprecord ul li
    {
        border-bottom:1px solid #eaeaea;
    }

    .option

    {
        height:48px;
    }

     .option ul {
            display: inline-block;
            width:100%;
            margin-bottom:0;
        }

            .option ul li {
              float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 13px;
    margin-top: 3px;
    width: 33%;
    text-align: center;
            }

            .option ul li a {
    color: #000;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}


        .optionicon {
            height: 30px;
            width: 30px;
            line-height: 30px;
            background: #FFC107;
            border-radius: 100%;
            display: block;
            margin: 0 auto;
            color: #fff;
        }

            .optionicon i {
                font-size: 15px;
            }

          .selectionpart  .row:nth-child(odd) {
    background: #ececec;
}

          .selectionpart h4
          {
             margin-top: 17px;
    font-size: 15px;
          }



            .Hairoption ul {
            display: inline-block;
            width:100%;
            margin-bottom:0;
            padding-top:5px;
        }

            .Hairoption ul li {
              float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 13px;
    margin-top: 3px;
    width: 16.66%;
    text-align: center;
            }

            .Hairoption ul li a {
    color: #000;
    font-size: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}



        .hairoptionicon {
            height: 20px;
            width: 20px;
          
            background: #FFC107;
            border-radius: 100%;
            display: block;
            margin: 0 auto;
            color: #fff;
        }

            .hairoptionicon i {
                font-size: 0;
            }

            .pink{
                background:#E91E63;
            }

             .blue{
                background:#2196F3;
            }

             .red{
                 background:#F44336;
             }

              .purple{
                 background:#9C27B0;
             }
               .yellow{
                 background:#FFC107;
             }

                .brown{
                 background:#795548;
             }
                  .grey{
                 background:#9E9E9E;
             }

                 .white{
                 background:#fff;
             }

                  .black{
                 background:#000;
             }

    .green {
        background-color: #4CAF50 !important;
        color:#fff;
    }

    .tiprecord ul li a {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
      
        padding-top: 3px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        padding-left: 5px;
    }


    .mine {
        background: #ffcd94;
    }

    .lightmine {
        background: #ffe0bd;
    }

    .darkmine {
        background: #eac086;
    }

</style>


<div class="resultpart">

    <div class="row">
        <div class="col-xs-2" ng-click="openNamebox()">
            <div class="profileimg">
                <img ng-if="ContactObject.imagepath==''" src="img/male.jpg" alt="" />
                <img src="{{ContactObject.imagepath}}" ng-if="ContactObject.imagepath!=''" />
            </div>

        </div>

        <div class="col-xs-7">
            <div class="username">
                <input type="text" placeholder="Type Name" ng-model="ContactObject.firstName" class="form-control" value="" />
            </div>
        </div>

        <div class="col-xs-3">
            <div class="noname">
                <a class="btn btn-danger" href="">
                    <i class="fa fa-question"></i>
                </a>
            </div>
        </div>
    </div>

  

</div>

<div class="tiparea">
    <div class="tipheader">
        <div class="row">
            <div class="col-xs-9">
                <input ng-model="NewTips.Text" placeholder="Find Or Add Tip" type="text" class="form-control" value="" />

            </div>

            <div class="col-xs-3">
                <div class="addtip">
                    <a ng-click="AddnewToTips()" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>

            </div>
        </div>
      

    </div>

    <div ng-style="{'height':tiparea}" class="tiprecord">
        <ul>
            <li ng-repeat="_obj in Tips|filter:NewTips.Text" ng-click="AddtoTips(_obj.Text)" class="{{IsAvailable(3,_obj.Text)}}">
                <a>{{_obj.Text}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="selectionpart">
    <div class="row">
        <div class="col-xs-2">
            <h4>Gender</h4>
        </div>

        <div class="col-xs-10">
            <div class="option">
                <ul>
                    <li ng-click="UpdateGender(0)">
                        <div class="optionicon purple {{GetSelectedClass('N',1)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Dont' Know</a>
                    </li>

                    <li ng-click="UpdateGender(1)">
                        <div class="optionicon blue {{GetSelectedClass('M',1)}}">
                            <i class="fa fa-male"></i>
                        </div>
                        <a>Male</a>
                    </li>

                    <li ng-click="UpdateGender(2)">
                        <div class="optionicon pink {{GetSelectedClass('F',1)}}">
                            <i class="fa fa-female"></i>
                        </div>
                        <a>Female</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <h4>Age</h4>
        </div>

        <div class="col-xs-10">
            <div class="option">
                <ul>
                    <li ng-click="ContactObject.AgeType=0;">
                        <div class="optionicon red {{GetSelectedClass(0,2)}}">
                            <i class="fa fa-user"></i>
                        </div>
                        <a>My Gen</a>
                    </li>

                    <li ng-click="ContactObject.AgeType=1;">
                        <div class="optionicon red {{GetSelectedClass(1,2)}}">
                            <i class="fa fa-child"></i>
                        </div>
                        <a>Younger Gen</a>
                    </li>

                    <li ng-click="ContactObject.AgeType=2;">
                        <div class="optionicon red {{GetSelectedClass(2,2)}}">
                            <i class="fa fa-wheelchair"></i>
                        </div>
                        <a>Older Gen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-2">
            <h4>Hair</h4>
        </div>


        <div class="col-xs-10">
            <div class="Hairoption">
                <ul>
                    <li ng-click="ContactObject.Hair=0;">
                        <div class="hairoptionicon white {{GetSelectedClass(0,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Bald</a>
                    </li>

                    <li ng-click="ContactObject.Hair=1;">
                        <div class="hairoptionicon black {{GetSelectedClass(1,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Dark</a>
                    </li>

                    <li ng-click="ContactObject.Hair=2;">
                        <div class="hairoptionicon brown {{GetSelectedClass(2,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Brown</a>
                    </li>

                    <li ng-click="ContactObject.Hair=3;">
                        <div class="hairoptionicon yellow {{GetSelectedClass(3,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Blond</a>
                    </li>

                    <li ng-click="ContactObject.Hair=4;">
                        <div class="hairoptionicon red {{GetSelectedClass(4,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Red</a>
                    </li>

                    <li ng-click="ContactObject.Hair=5;">
                        <div class="hairoptionicon grey {{GetSelectedClass(5,3)}}">
                            <i class="fa fa-question"></i>
                        </div>
                        <a>Grey</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <h4>Skin</h4>
        </div>

        <div class="col-xs-10">
            <div class="option">
                <ul>
                    <li ng-click="ContactObject.Skin=0;">
                        <div class="optionicon mine {{GetSelectedClass(0,4)}}">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <a>Like Mine</a>
                    </li>

                    <li ng-click="ContactObject.Skin=1;">
                        <div class="optionicon darkmine {{GetSelectedClass(1,4)}}">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <a>Darker Mine</a>
                    </li>

                    <li ng-click="ContactObject.Skin=2;">
                        <div class="optionicon lightmine {{GetSelectedClass(2,4)}}">
                            <i class="fa fa-smile-o"></i>
                        </div>
                        <a>Lighter Mine</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-2">
            <h4>Height</h4>
        </div>

        <div class="col-xs-10">
            <div class="option">
                <ul>
                    <li ng-click="ContactObject.Height=0;">
                        <div class="optionicon {{GetSelectedClass(0,5)}}">
                            <i class="fa fa-arrows-v"></i>
                        </div>
                        <a>About My Height</a>
                    </li>

                    <li ng-click="ContactObject.Height=1;">
                        <div class="optionicon {{GetSelectedClass(1,5)}}">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                        <a>Taller than Me</a>
                    </li>

                    <li ng-click="ContactObject.Height=2;">
                        <div class="optionicon {{GetSelectedClass(2,5)}}">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                        <a>Shorter than Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>








<div class="bottomarea" ng-click="insertRecord()">
    <a>
        <i class="fa fa-check"></i> Done
    </a>
</div>






<div class="modal fade" id="AddName">

    <div class="modal-header">
        <h4>Select option</h4>
    </div>

    <div class="modal-body">
        <ul>
            <li ng-click="capturePhotoNew()">
                <a> <i class="fa fa-camera"></i> Capture Photo</a>
            </li>
            <li ng-click="getPhoto()">

                <a><i class="fa fa-picture-o"></i> From Photo Library</a>
            </li>

            <li data-dismiss="modal">

                <a><i class="fa fa-times"></i> Cancel</a>
            </li>
        </ul>
    </div>



</div>


