
<style>

    .tile {
        background: #fff;
        position: inherit;
        height: 100%;
        line-height: 3.5;
     
    }

    .doublelineheight {
        line-height: 1.8;
    }

    .iphone6tile {
        line-height: 4.5;
    }

    .iphone6plustile {
        line-height: 5;
    }


    .blue-color {
        background: #2196F3;
    }

    .pink-color {
        background: #e91e63;
    }

    .whitetext {
        color: #fff !important;
    }

    .btn.red {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        text-transform: capitalize;
        height: 40px;
        line-height: 40px;
    }

    .ClearBtn {
        float: right;
        color: #fafafa !important;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 4px;
        background: #777;
    }

   .green .fa-check {
   display: initial !important;
    position: absolute;
    right: 2px;
    top: 2px;
    color: #8bc34a;
    border-radius: 100%;
    padding: 2px;
    font-size: 13px;
    background: #fff;
}

    .green img {
        display: none;
    }

    .option ul {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }

        .option ul li {
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 13px;
            margin-top: 3px;
            width: 33%;
            text-align: center;
        }

            .option ul li a {
                color: #000;
                font-size: 11px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-inline-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }



    .findoptionicon {
        height: 25px;
        width: 25px;
        line-height: 25px;
        background: transparent;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
    }


    .iphone6 {
        line-height: 5.5;
    }


    .doublelineheight.iphone6 {
        line-height:2.6
    }
    
    
     .iphone6 img {
        height: 38px !important;
        width: 38px !important;
    }

    .iphone6plus {
        line-height: 6;
    }

    .doublelineheight.iphone6plus {
        line-height: 3;
    }

        .iphone6plus img {
            height: 48px !important;
            width: 48px !important;
            margin-top: 0px !important;
        }


    .findoptionicon img {
        height: 20px;
        width: 20px;
        margin: 0 auto;
        margin-top: 3px;
    }

    .mine {
        background: #ffcd94;
    }

    .lightmine {
        background: #ffe0bd;
    }

    .darkmine {
        background: #d8a054;
    }

    .selectionpart {
        margin-top: 60px;
    }


    .well h4 {
        text-align: center;
        color: #333;
        font-size: 16px;
        margin-bottom: 3px;
        padding: 3px;
        background: #d6d6d6;
        margin:0;
    }

    .well {
        padding: 0;
        margin-bottom: 0;
        text-align:center;
        border:none;
    }

    .green {
        background-color: #8bc34a !important;
        color:#fff !important;
    }

    .white {
        border: 1px solid #ccc;
    }



    body {
        background: #e6e6e6;
    }

    .btn.green {
        margin-top:10px;
        width: 100%;
        font-size: 22px;
        color: #fff;
    }

    .findoptionicon.height img {
        width: 18px;
    }

    .agerow .findoptionicon {
        background: transparent;
        box-shadow: none !important;
        border: none !important;
    }

        .agerow .findoptionicon img {
            height: 27px;
            width: 25px;
            margin: 0 auto;
            margin-top: 0;
        }

    .col-xs-12 {
        padding-left:0;
        padding-right:0;
    }

    .well table
    {
     width: 100%;
    }


    .well table td {
        width:33.33%;
        padding:0;
        border:1px solid #e6e6e6;
    }

    .well table td div {
        width: 100%;
        text-align:center;
        position:relative;
    }

    .well p {
        margin-bottom:0;
        font-size:15px;
        width:100%;
    }

    .redcolor {
        background: #d40000;
        color: #fff;
    }

    .greycolor {
        background: #93ac9d;
    }

    .browncolor {
        background: #937237;
        color: #fff;
    }

    .blondcolor {
        background: #ffff00;
    }


    .blackcolor {
        background: #280b0b;
        color:#fff;
    }

    .shorter
{
      background:  #BBDEFB

    } 

.myheight
{background:#90CAF9} 

.taller
{background:#64B5F6}

    .younger {
        background:#E1BEE7;
    }

     .mygen {
        background:#CE93D8;
    }
      .older {
        background:#BA68C8;
    }

    .bald {
        background:#d8d8d8;
    }

    body {
        color:#4a4a4a;
    }

  

</style>


<div class="selectionpart">
    <div class="well genderrow">
     

        <table>
            <tr>
                <td>
                    <div class="waves-effect tile blue-color {{curentclass}} whitetext {{GetSelectedClass('M',1)}}" ng-click="UpdateGender(1)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p>Male</p>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="waves-effect tile pink-color {{curentclass}} whitetext {{GetSelectedClass('F',1)}}" ng-click="UpdateGender(2)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p>Female</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="well agerow">
      

        <table>
            <tr>
                <td>
                    <div class="tile younger doublelineheight {{curentclass}}  {{GetSelectedClass(2,2)}}" ng-click="UpdateAgeType(2)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Younger <br /> Generation  </p>

                    </div>
                </td>
                <td>
                    <div class="tile mygen doublelineheight {{curentclass}}  {{GetSelectedClass(1,2)}}" ng-click="UpdateAgeType(1)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">My <br /> Generation  </p>
                     
                    </div>
                </td>
                
                <td>
                    <div class="tile older doublelineheight {{curentclass}} {{GetSelectedClass(3,2)}}" ng-click="UpdateAgeType(3)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Older <br /> Generation </p>
                       
                    </div>
                </td>
            </tr>
        </table>

        
    </div>

    <div class="well skinrow">
     

        <table>
            <tr>
                <td>
                    <div class="tile lightmine {{curentclass}}  {{GetSelectedClass(3,4)}}" ng-click="UpdateSkinType(3)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Lighter</p>
                    </div>
                </td>
                <td>
                    <div class="tile mine doublelineheight {{curentclass}}  {{GetSelectedClass(1,4)}}" ng-click="UpdateSkinType(1)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">My <br />Skin color</p>
                    </div>
                </td>
                <td>
                    <div class="tile darkmine {{curentclass}} {{GetSelectedClass(2,4)}}" ng-click="UpdateSkinType(2)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Darker</p>
                    </div>
                </td>
            </tr>
        </table>
        
        
    </div>

    <div class="well heightrow">
      

        <table>
            <tr>
                <td>
                    <div class="tile shorter {{curentclass}}  {{GetSelectedClass(3,5)}}" ng-click="UpdateHeight(3)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Shorter</p>
                    </div>
                </td>
                <td>
                    <div class="tile myheight {{curentclass}}  {{GetSelectedClass(1,5)}}" ng-click="UpdateHeight(1)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">My Height</p>
                    </div>
                </td>
                <td>
                    <div class="tile taller {{curentclass}} {{GetSelectedClass(2,5)}}" ng-click="UpdateHeight(2)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Taller</p>
                    </div>
                </td>
            </tr>
        </table>

        
    </div>

    <div class="well hairrow">
     

        <table>
            <tr>
                <td>
                    <div class="blondcolor tile doublelineheight {{curentclass}}  {{GetSelectedClass(4,3)}}" ng-click="UpdateHair(4)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Blond <br /> Hair </p>
                    </div>
                </td>
                <td>
                    <div class="browncolor tile doublelineheight {{curentclass}} {{GetSelectedClass(3,3)}}" ng-click="UpdateHair(3)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Brown <br /> Hair</p>
                    </div>
                </td>
                <td>
                    <div class="greycolor tile doublelineheight {{curentclass}} {{GetSelectedClass(6,3)}}" ng-click="UpdateHair(6)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Grey <br /> Hair</p>
                    </div>
                </td>
            
               
                
            </tr>
            <tr>
                
                <td>
                    <div class="tile redcolor doublelineheight {{curentclass}}  {{GetSelectedClass(5,3)}}" ng-click="UpdateHair(5)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Red <br /> Hair </p>
                    </div>
                </td>
                <td>
                    <div class="blackcolor tile doublelineheight {{curentclass}}  {{GetSelectedClass(2,3)}}" ng-click="UpdateHair(2)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Dark <br /> Hair </p>
                    </div>
                </td>
                <td>
                    <div class="tile bald doublelineheight {{curentclass}}  {{GetSelectedClass(1,3)}}" ng-click="UpdateHair(1)">
                        <i style="display:none" class="fa fa-check"></i>
                        <p class="waves-effect">Bald/Other <br /> Hair </p>
                    </div>
                </td>
                
            </tr>
        </table>
    
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div style="text-align:center;" class="col-xs-4">
            <a  ng-click="GetMatches();" class="btn green matchbtn"> GO </a>
        </div>
        <div class="col-xs-4"></div>
    </div>

  

   

  
   
</div>
<a href="#/menu" class="btn red matchbtn"> Back</a>