

<style>

  

    .btn.red {
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        text-transform: capitalize;
        height: 40px;
        line-height: 40px;
    }

    .ClearBtn {
        float: right;
        color: #fafafa !important;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding-left: 5px;
        padding-right: 4px;
        background: #777;
    }

    .green .fa-check {
        display: initial !important;
    }

    .green img {
        display: none;
    }

    .option ul {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }

        .option ul li {
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 13px;
            margin-top: 3px;
            width: 33%;
            text-align: center;
        }

            .option ul li a {
                color: #000;
                font-size: 11px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-inline-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }



    .findoptionicon {
        height: 25px;
        width: 25px;
        line-height: 25px;
        background: transparent;
        border-radius: 100%;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
    }


    .iphone6 {
        height: 40px !important;
        width: 40px !important;
        line-height: 40px !important;
        font-size: 22px !important;
    }

        .iphone6 img {
            height: 38px !important;
            width: 38px !important;
        }

    .iphone6plus {
        height: 50px !important;
        width: 50px !important;
        line-height: 50px !important;
        font-size: 29px !important;
    }

        .iphone6plus img {
            height: 48px !important;
            width: 48px !important;
            margin-top: 0px !important;
        }


    .findoptionicon img {
        height: 20px;
        width: 20px;
        margin: 0 auto;
        margin-top: 3px;
    }

    .mine {
        background: #ffcd94;
    }

    .lightmine {
        background: #ffe0bd;
    }

    .darkmine {
        background: #d8a054;
    }

    .selectionpart {
        margin-top: 44px;
    }

    .well p {
        text-align: center;
        color: #333;
        font-size: 13px;
        margin-bottom: 3px;
        padding: 3px;
        background: #d6d6d6;
    }

    .well {
        padding: 0;
        margin-bottom: 0;
    }

    .green {
        background-color: #8bc34a !important;
    }

    .white {
        border: 1px solid #ccc;
    }



    body {
        background: #e6e6e6;
    }

    .btn.green {
        margin-top: 10px;
        width: 100%;
        font-size: 22px;
        color: #fff;
    }

    .findoptionicon.height img {
        width: 18px;
    }

    .agerow .findoptionicon {
        background: transparent;
        box-shadow: none !important;
        border: none !important;
    }

        .agerow .findoptionicon img {
            height: 27px;
            width: 25px;
            margin: 0 auto;
            margin-top: 0;
        }
</style>


<div class="selectionpart">

    <div class="well genderrow">
        <p>Select Gender <!--<a ng-click="ResetFilter()" class="ClearBtn">Clear All</a>--></p>
        <div class="option">
            <ul>
                <li ng-click="UpdateGender(0)">
                    <div class="findoptionicon {{curentclass}} waves-effect  {{GetSelectedClass('N',1)}}">
                        <img src="img/gender/Dontknow.svg" alt="" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Dont' Know</a>
                </li>

                <li ng-click="UpdateGender(1)">
                    <div class="findoptionicon {{curentclass}} waves-effect  {{GetSelectedClass('M',1)}}">
                        <img src="img/gender/Male.svg" alt="" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Male</a>
                </li>

                <li ng-click="UpdateGender(2)">
                    <div class="findoptionicon {{curentclass}} waves-effect  {{GetSelectedClass('F',1)}}">
                        <img src="img/gender/Female.svg" alt="" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Female</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="well agerow">
        <p>Select Age</p>
        <div class="option">
            <ul>
                <li ng-click="UpdateAgeType(1)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(1,2)}}">
                        <!--<i class="fa fa-user"></i>-->
                        <img src="{{PhysicalImages.age1}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>My Gen</a>

                </li>

                <li ng-click="UpdateAgeType(2)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(2,2)}}">
                        <!--<img src="img/baby.png" alt="" />-->
                        <img src="{{PhysicalImages.age2}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Younger Gen</a>
                    
                </li>

                <li ng-click="UpdateAgeType(3)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(3,2)}}">
                        <!--<img src="img/beared.png" alt="" />-->
                        <img src="{{PhysicalImages.age2}}" class="defaultImg" alt="Alternate Text" />

                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Older Gen</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="well skinrow">
        <p>Select Skin Type</p>

        <div class="option">
            <ul>

                <li ng-click="UpdateSkinType(3)">
                    <div class=" findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(3,4)}}">
                        <!--<i class="fa fa-smile-o"></i>-->
                        <img src="{{PhysicalImages.skin1}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div> 
                    <a>Lighter</a>
                </li>

                <li ng-click="UpdateSkinType(1)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(1,4)}}">
                        <img src="{{PhysicalImages.skin2}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>My color</a>
                </li>

                <li ng-click="UpdateSkinType(2)">
                    <div class="findoptionicon {{curentclass}} waves-effect  {{GetSelectedClass(2,4)}}">
                        <img src="{{PhysicalImages.skin3}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Darker</a>
                </li>

                
            </ul>
        </div>
    </div>

    <div class="well heightrow">
        <p>Select Height</p>

        <div class="option">
            <ul>
                <li ng-click="UpdateHeight(3)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(3,5)}}">
                        <img src="{{PhysicalImages.height1}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div> <br />
                    <a>Shorter</a>
                </li>
                <li ng-click="UpdateHeight(1)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(1,5)}}">
                        <img src="{{PhysicalImages.height2}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div> <br />
                    <a>My Height</a>
                </li>

                <li ng-click="UpdateHeight(2)">
                    <div class="findoptionicon {{curentclass}} waves-effect {{GetSelectedClass(2,5)}}">
                        <img src="{{PhysicalImages.height3}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div> <br />
                    <a>Taller</a>
                </li>

                
            </ul>
        </div>
    </div>

    <div class="well hairrow">
        <p>Select Hair Color</p>

        <div class="option">
            <ul>
                <li ng-click="UpdateHair(1)">
                    <div class="findoptionicon {{curentclass}}  {{GetSelectedClass(1,3)}}">
                        <img src="{{PhysicalImages.hair1}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Bald</a>
                </li>

                <li ng-click="UpdateHair(2)">
                    <div class="findoptionicon {{curentclass}}  {{GetSelectedClass(2,3)}}">
                        <img src="{{PhysicalImages.hair2}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Dark</a>
                </li>

                <li ng-click="UpdateHair(3)">
                    <div class="findoptionicon {{curentclass}}  {{GetSelectedClass(3,3)}}">
                        <img src="{{PhysicalImages.hair3}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Brown</a>
                </li>

                <li ng-click="UpdateHair(4)">
                    <div class="findoptionicon {{curentclass}} {{GetSelectedClass(4,3)}}">
                        <img src="{{PhysicalImages.hair4}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Blond</a>
                </li>

                <li ng-click="UpdateHair(5)">
                    <div class="findoptionicon {{curentclass}}  {{GetSelectedClass(5,3)}}">
                        <img src="{{PhysicalImages.hair5}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Red</a>
                </li>

                <li ng-click="UpdateHair(6)">
                    <div class="findoptionicon {{curentclass}}  {{GetSelectedClass(6,3)}}">
                        <img src="{{PhysicalImages.hair6}}" class="defaultImg" alt="Alternate Text" />
                        <i style="display:none;" class="fa fa-check"></i>
                    </div>
                    <a>Grey</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div style="text-align:center;" class="col-xs-4">
            <a ng-click="GetMatches();" class="btn green matchbtn"> GO </a>
        </div>
        <div class="col-xs-4"></div>
    </div>

  

   

  
   
</div>
<a href="#/menu" class="btn red matchbtn"> Back</a>