<style>
    .bottomareanew {
        background-color: #3F51B5;
        background: #8BC34A;
        text-align: center;
        color: #fff;
        font-size: 17px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 42px;
        line-height: 42px;
        width: 100%;
        margin:0;
    }

        .bottomareanew i {
            font-size: 17px;
        }

        .bottomareanew .btn {
            height: auto;
            line-height: normal;
            padding: 4px;
            font-size: 17px;
            text-transform: none;
            background-color: #3F51B5;
        }

            .bottomarea .btn i {
                font-size: 17px;
            }
    .top50 {
        margin-top:50px;
    }

    .container
    {
        background:#fff;
    }

    .peoplelist li
    {
        float:left; margin-right:10px;
        margin-bottom:10px;
    }

    hr  
    {
        margin-top:10px;
        margin-bottom:10px;
    }

      .pink
         {
             background:#E91E63;
             color:#fff;
         }

      .blue {
    background-color: #2196F3 !important;
         color:#fff;
}



</style>


<div class="top50">
    <h4>
       Recently Added People
    </h4>
    <hr />
</div>


<ul class="peoplelist">
    <!-- ngRepeat: _obj in Contacts -->
    <li ng-repeat="_obj in Contacts | orderBy : '-id'" class=" ng-scope">
        {{GetImageFromurl(_obj.imagepath)}}
        <div  ng-if="_obj.gender=='M'" ng-click="OpenEditModal(_obj)" class="chip blue">
            <img src="img/male.png" ng-if="(_obj.imagepath=='' || _obj.imagepath==null)" />
            <img src="{{GetImageFromurl(_obj.imagepath)}}" ng-if="_obj.imagepath!='' && _obj.imagepath!=null" />

            <span class="ng-binding">   {{_obj.firstName}} {{_obj.lastName}} </span>
        </div>

        <div ng-if="_obj.gender=='F'" ng-click="OpenEditModal(_obj)" class="chip pink">
            <img src="img/male.png" ng-if="(_obj.imagepath=='' || _obj.imagepath==null)" />
            <img src="{{GetImageFromurl(_obj.imagepath)}}" ng-if="_obj.imagepath!='' && _obj.imagepath!=null" />

            <span class="ng-binding">   {{_obj.firstName}} {{_obj.lastName}} </span>
        </div>


        <div ng-if="_obj.gender==''" ng-click="OpenEditModal(_obj)" class="chip">
            <img src="img/male.png" ng-if="(_obj.imagepath=='' || _obj.imagepath==null)" />
            <img src="{{GetImageFromurl(_obj.imagepath)}}" ng-if="_obj.imagepath!='' && _obj.imagepath!=null" />

            <span class="ng-binding">   {{_obj.firstName}} {{_obj.lastName}} </span>
        </div>


    </li><!-- end ngRepeat: _obj in Contacts -->
    <!-- end ngRepeat: _obj in Contacts -->

</ul>


<br />
<br />
<div class="btn-group btn-group-justified bottomareanew">
    <a class="btn btn-primary" ng-class="getClass('/more')" href="#/more"><i class="fa fa-th-list"></i>&nbsp;More</a>
    <a class="btn btn-primary" ng-class="getClass('/find')" href="#/find"><i class="fa fa-search"></i>&nbsp;Get</a>
    <a ng-click="gotoAddtips()" class="btn btn-primary" ng-class="getClass('/addtips')" href="#/addtips"><i class="fa fa-plus"></i>&nbsp;Add</a>
</div>

