<link href="docs/css/jquery-ui.min.css" rel="stylesheet">
<link href="css/keyboard.css" rel="stylesheet">

<script src="docs/js/jquery-ui.min.js"></script>
<script src="js/jquery.keyboard.js"></script>
<script src="docs/js/demo.js"></script>

<div id="page-wrap">
    <br><br><br><br>
    <div class="block" id="autocomplete">
      
        <input id="text" type="text" placeholder=" Enter something...">
        <br>
        
        
    </div>
    

    <div id="showcode"></div>
    <div id="footer"></div>
</div>

<script>

 

    $(document).ready(function () {
       


    });
    </script>
