<!--ng-style="{'height':resultarea}"-->
<div class="resultarea">

    <div class="resultcontent">
        <div class="row">

            <div class="col-xs-4">

                <div ng-click="GotoIndex(0)" class="waves-effect">
                    <img src="img/male.jpg" ng-if="ContactObject.gender=='M'||ContactObject.gender==''" />
                    <img src="img/female.jpg" ng-if="ContactObject.gender=='F'" />
                </div>

            </div>
            <div class="col-xs-8">

                <div>
                    <p style="font-size:17px; color:#333" class="text" ng-click="openNamebox()"> 
                        <span ng-if="ContactObject.firstName==''&& ContactObject.lastName==''"> Martin Adams </span>
                     {{ContactObject.firstName}} {{ContactObject.lastName}} </p>
                </div>
                <div>
                    <p class="text" ng-click="GotoIndex(1)">
                        <i style="font-size:19px;" class="fa fa-dot-circle-o"></i>  {{GetAgeType(ContactObject.AgeType)}}
                    </p>
                </div>

                <div>
                    <p class="text" ng-click="GotoIndex(2)">
                        <i class="fa fa-users"></i> 
                        <span ng-if="ContactObject.Relations==''">People Wife,Father </span>
                        {{ContactObject.Relations}}
                    </p>
                </div>

                <div>
                    <p class="text" ng-click="GotoIndex(3)">
                        <i class="fa fa-envelope"></i> 
                        <span ng-if="ContactObject.places==''">Places Nathdwara,Udaipur </span>
                         {{ContactObject.places}}
                    </p>
                </div>


            </div>

        </div>
    </div>

</div>

<div class="dummydiv"></div>





<!--ng-style="{'height':selectionarea}"-->

<div class="selectionarea">


    <div class="swiper-container">

     

        <div class="swiper-wrapper">

        
              
         


            <div class="swiper-slide" activeclass="genderarea">

               
                <p class="title">Select Gender </p>
                <div class="genderarea">
                    <div class="row">
                        <div class="col-xs-6">
                            <div ng-click="gotonext('M')" class="waves-effect male gender">
                                <i class="fa fa-male"></i>
                            </div>
                            <p>Male</p>
                        </div>

                        <div class="col-xs-6">

                            <div ng-click="gotonext('F')" class="waves-effect female gender">
                                <i class="fa fa-female"></i>
                            </div>
                            <p>Female</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" activeclass="genderlike">
                <p class="title">Select Age </p>
                <div class="genderlike">

                    <h4 class="waves-effect" ng-click="UpdateAgeType(1)">Younger than me</h4>
                    <h4 class="waves-effect" ng-click="UpdateAgeType(2)">Same as me</h4>
                    <h4 class="waves-effect" ng-click="UpdateAgeType(3)">Older than me</h4>
                </div>
            </div>

            <div class="swiper-slide" activeclass="relations1">

                <p class="title">Choose People </p>
                <div class="relations">

                    <ul>
                        <li ng-click="AddtoContactPeople(_obj.Text)" ng-repeat="_obj in RelationTypes" >
                            <span ng-if="$index<6">
                                <div class="waves-effect relationicon" ng-if="$index<7">
                                    <i class="fa fa-users"></i>
                                </div>

                                <a>

                                    {{_obj.Text}}
                                </a>
                                </span>
</li>

                        <li>
                            <div class="waves-effect addmore" ng-if="RelationTypes.length>6" ng-click="viewallrelation()">6<span>+</span> </div>

                          
                        </li>
                        <li>
                            <div class="waves-effect addrelation" ng-click="openAdd()">+</div>
                          

                            
                        </li>


                    </ul>

                </div>
            </div>

            <div class="swiper-slide" activeclass="relations2">

                <p class="title">Choose Places </p>
                <div class="relations">

                    <ul>
                        <li ng-click="AddtoContactPlace(_obj.Text)" ng-repeat="_obj in PlacesTypes" >
                            <span ng-if="$index<6">
                                <div class="waves-effect placeicon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <a>{{_obj.Text}}</a>
                            </span>
                        </li>
                        <li>
                            <div class="waves-effect addmore" ng-if="PlacesTypes.length>6" ng-click="viewallplaces()">6<span>+</span> </div>
                        </li>
                        <li>
                            <div class="waves-effect addrelation" ng-click="openAddPlace()">+</div>
                        </li>
                    </ul>


                </div>
            </div>

            <div class="swiper-slide">

                <p class="title">Name </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control" ng-disabled="IsDontknow==true" ng-model="ContactObject.firstName" />
                            <p class="remember animated bouncein delay-6">
                                <input type="checkbox" id="test5" ng-model="IsDontknow">
                                <label for="test5">i don't know</label>
                            </p>
                        </div>

                       


                    </div>
                    
                    <br />

                    
                </div>
                
            </div>
        </div>

        <!--<a ng-click="GoToPrev()" id="prev"></a>
        <a ng-click="GoToNext()" id="next"></a>-->
    </div>





</div>


<!--ng-style="{'height':dataarea}"-->

<div ng-style="{'height':tableheight}" class="dataarea">

    <div ng-show="Contacts.length>0" class="addedrecord">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="_obj in GetFiltered(Contacts)">

                <div class="row">
                    <div class="col-xs-8">
                        <span style="font-size:15px;" class="{{GetColorClass(_obj.gender)}}">
                            {{_obj.firstName}} {{_obj.lastName}}
                        </span><br />
                        <small> {{_obj.places}}</small> <br />
                        <small>{{_obj.Relations}}</small>
                    </div>
                    <div class="col-xs-4">

                        <div class="align-right">
                            <a class="btn btn-danger pin">
                                <i class="fa fa-thumb-tack"></i>
                            </a>
                        </div>

                        <div class="align-right">
                            <a class="btn btn-danger" ng-click="DeleteRecord(_obj.id)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>



                    </div>
                </div>





            </li>


        </ul>
    </div>

    <br /><br />





</div>

<!--ng-style="{'height':bottomarea, 'line-height':bottomarea,}"-->

<div class="bottomarea">
    <a ng-click="insertRecord()">
        <i class="fa fa-check"></i> Done
    </a>
</div>


<div class="modal fade" id="Addrelation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add Relation</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="NewRelation.Text" placeholder="Add new" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2" ng-click="AddnewToPeople()"> <i class="fa fa-check"></i> </span>
        </div>
    </div>

</div>

<div class="modal fade" id="Addplace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add Place</h4>
    </div>

    <div class="modal-body">
        <div class="input-group" >
            <input type="text" class="form-control" ng-model="NewPlace.Text" placeholder="Add new" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2" ng-click="AddnewToPlaces()"><i class="fa fa-check"></i></span>
        </div>
    </div>

</div>

<div class="modal fade" id="AddName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add User</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" placeholder="first Name" class="form-control" ng-model="ContactObject.firstName" />
                </div>



            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input placeholder="Last Name" type="text" class="form-control" ng-model="ContactObject.lastName" />
                </div>



            </div>
            <br />

            <div class="col-md-12">
                <a style="width:100%" data-dismiss="modal" class="waves-effect btn btn-success">
                    Add
                </a>

            </div>
        </div>
    </div>

</div>

<div style="top:15%;" class="modal fade" id="Allrelation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>All relations</h4>
    </div>

    <div class="modal-body">
        <div class="relations">

            <ul>
                <li ng-click="AddtoContactPeople(_obj.Text)" ng-repeat="_obj in RelationTypes" ng-if="_obj.Type==1">
                    <div class="waves-effect relationicon">
                        <i class="fa fa-users"></i>
                    </div>

                    <a>

                        {{_obj.Text}}
                    </a>
                </li>

                <li ng-click="AddtoContactPeople(_obj.Text)" ng-repeat="_obj in RelationTypes" ng-if="_obj.Type==2">
                    <div class="waves-effect relationicon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a>{{_obj.Text}}</a>
                </li>


            </ul>

        </div>
    </div>

</div>



<div style="top:15%;" class="modal fade" id="Allplaces" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>All places</h4>
    </div>

    <div class="modal-body">
        <div class="relations">

            <ul>
                <li ng-click="AddtoContactPlace(_obj.Text)" ng-repeat="_obj in PlacesTypes" ng-if="_obj.Type==1">
                    <div class="waves-effect relationicon">
                        <i class="fa fa-map-marker"></i>
                    </div>

                    <a>

                        {{_obj.Text}}
                    </a>
                </li>

                <li ng-click="AddtoContactPlace(_obj.Text)" ng-repeat="_obj in PlacesTypes" ng-if="_obj.Type==2">
                    <div class="waves-effect relationicon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <a>{{_obj.Text}}</a>
                </li>


            </ul>

        </div>
    </div>

</div>






