


<div ng-style="{'height':resultarea}" class="resultarea">

    <div class="resultcontent">
        <div class="row">

            <div class="col-xs-12">
                <div ng-click="GotoIndex(0)" class="profilepic waves-effect">
                    <i class="fa fa-male" ng-if="ContactObject.gender=='M'||ContactObject.gender==''"></i>
                    <i class="fa fa-female" ng-if="ContactObject.gender=='F'"></i>
                </div>


                <p class="center">
                    <span ng-click="openNamebox()">Name {{ContactObject.firstName}} {{ContactObject.lastName}}</span>


                </p>
            </div>
            <div class="col-xs-12">


                <p ng-click="GotoIndex(1)">
                    Age {{GetAgeType(ContactObject.AgeType)}}
                </p>

                <p ng-click="GotoIndex(2)">
                    People {{ContactObject.Relations}}
                </p>

                <p ng-click="GotoIndex(3)">
                    Places {{ContactObject.places}}
                </p>

            </div>


            
        </div>
    </div>

</div>

<div ng-if="CurrentActiveClass==2" class="waves-effect addrelation" ng-click="openAdd()">+</div>

<div ng-if="CurrentActiveClass==3" class="waves-effect addrelation" ng-click="openAddPlace()">+</div>

<div ng-style="{'height':selectionarea}" class="selectionarea">

    

    

   

    
    



    <div class="swiper-container">



        <div class="swiper-wrapper">

            <div class="swiper-slide" activeClass="genderarea">
                <div class="genderarea">
                    <div class="row">
                        <div class="col-xs-6">
                            <div ng-click="gotonext('M')" class="waves-effect gender">
                                <i class="fa fa-male"></i>
                            </div>
                            <p>Male</p>
                        </div>

                        <div class="col-xs-6">

                            <div ng-click="gotonext('F')" class="waves-effect gender">
                                <i class="fa fa-female"></i>
                            </div>
                            <p>Female</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" activeclass="genderlike">
                <div class="genderlike">

                    <h4 class="waves-effect" ng-click="UpdateAgeType(1)">Younger than me</h4>
                    <h4 class="waves-effect" ng-click="UpdateAgeType(2)">Same as me</h4>
                    <h4 class="waves-effect" ng-click="UpdateAgeType(3)">Older than me</h4>
                </div>
            </div>

            <div class="swiper-slide" activeclass="relations1">
                <div class="relations">

                    <ul>
                        <li ng-click="AddtoContactPeople(_obj.Text)" ng-repeat="_obj in RelationTypes" ng-if="_obj.Type==1">
                            <div class="waves-effect relationicon">
                                <i class="fa fa-users"></i>
                            </div>

                            <a>

                                {{_obj.Text}}
                            </a>
                        </li>

                        <li  ng-click="AddtoContactPeople(_obj.Text)" ng-repeat="_obj in RelationTypes" ng-if="_obj.Type==2">
                            <div class="waves-effect relationicon">
                                <i class="fa fa-users"></i>
                            </div>
                            <a>{{_obj.Text}}</a>
                        </li>


                    </ul>




                </div>
            </div>

            <div class="swiper-slide" activeclass="relations2">
                <div class="relations">

                    <ul>
                        <li ng-click="AddtoContactPlace(_obj.Text)" ng-repeat="_obj in PlacesTypes" ng-if="_obj.Type==1">
                            <div class="waves-effect relationicon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <a>{{_obj.Text}}</a>
                        </li>
                        <li ng-click="AddtoContactPlace(_obj.Text)" ng-repeat="_obj in PlacesTypes" ng-if="_obj.Type==2">
                            <div class="waves-effect relationicon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <a>{{_obj.Text}}</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

    

   
    
</div>

<div ng-style="{'height':dataarea}" class="dataarea">

    <div ng-show="Contacts.length>0" class="form-group">
        <input id="search" type="text" class="form-control input-lg" ng-model="SearchText" placeholder="Search">
    </div>

    <div ng-show="Contacts.length>0" class="addedrecord">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="_obj in Contacts | filter:SearchText">
                {{_obj.firstName}}{{_obj.lastName}} <a class="" ng-click="DeleteRecord(_obj.id)">
                    Delete
                </a>
            </li>

        </ul>
    </div>
    

</div>

<div ng-style="{'height':bottomarea, 'line-height':bottomarea,}" class="bottomarea">
    <a ng-click="insertRecord()" >
        <i class="fa fa-check"></i> Done
    </a>
</div>

<div>
    <br /><br />
</div>

<div class="modal fade" id="Addrelation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add Relation</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="NewRelation.Text" placeholder="Add new" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2" ng-click="AddnewToPeople()"> <i class="fa fa-check"></i> </span>
        </div>
    </div>

</div>

<div class="modal fade" id="Addplace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add Place</h4>
    </div>

    <div class="modal-body">
        <div class="input-group" ng-if="IsPlaceOn==true">
            <input type="text" class="form-control" ng-model="NewPlace.Text" placeholder="Add new" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2" ng-click="AddnewToPlaces()"><i class="fa fa-check"></i></span>
        </div>
    </div>

</div>

<div class="modal fade" id="AddName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background:#fff;" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span> <i class="fa fa-times"></i> </span></button>
        <h4>Add User</h4>
    </div>

    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" placeholder="first Name" class="form-control" ng-model="ContactObject.firstName" />
                </div>
             
              

            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input placeholder="Last Name" type="text" class="form-control" ng-model="ContactObject.lastName" />
                </div>
               
             

            </div>
            <br />

            <div class="col-md-12">
                <a style="width:100%" data-dismiss="modal" class="waves-effect btn btn-success">
                    Add
                </a>
               
            </div>
        </div>
    </div>

</div>






